<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/logout">Log out</a>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim excepturi praesentium quae ut amet, dolore in similique adipisci aperiam quaerat minus iusto mollitia est accusantium accusamus ea suscipit temporibus molestiae.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim excepturi praesentium quae ut amet, dolore in similique adipisci aperiam quaerat minus iusto mollitia est accusantium accusamus ea suscipit temporibus molestiae.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim excepturi praesentium quae ut amet, dolore in similique adipisci aperiam quaerat minus iusto mollitia est accusantium accusamus ea suscipit temporibus molestiae.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim excepturi praesentium quae ut amet, dolore in similique adipisci aperiam quaerat minus iusto mollitia est accusantium accusamus ea suscipit temporibus molestiae.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim excepturi praesentium quae ut amet, dolore in similique adipisci aperiam quaerat minus iusto mollitia est accusantium accusamus ea suscipit temporibus molestiae.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim excepturi praesentium quae ut amet, dolore in similique adipisci aperiam quaerat minus iusto mollitia est accusantium accusamus ea suscipit temporibus molestiae.</p>
</body>
</html>